@import '../node_modules/bootstrap/scss/bootstrap';
#intro {
  background-image:  url("src/images/PortfolioBG.png");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
.jumbotron {
  margin-top: 40px;
}
h4 {
  font-size: 40px;
}
/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: 0px;
  }
}
.navbar {
  min-height: 80px;
}
.navbar .nav-link {
  color: rgb(255, 255, 255) !important;
}
/* Navbar container to constrain width */
.navbar-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* Custom styles for collapsed menu on small screens */
@media (max-width: 991.98px) {
  .navbar-collapse.custom-collapse {
    max-width: 100px;
    width: 80%;
    background-color: rgb(10, 10, 10);
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1050;
    padding: 1rem;
    border-radius: 0 8px 8px 0;
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
  }

  .navbar-collapse.show {
    display: block !important;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-brand {
    order: 2;
    margin-left: auto;
  }

  .navbar-toggler {
    order: 1;
    border: none;
  }

  .navbar .container {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
  }
}
button {
  color: #fdfcfc;
  background-color: #000000;
  border: 1px solid #212325;
  border-radius: 4px;
  padding: 0 15px;
  cursor: pointer;
  height:32px;
  font-size:14px;
  transition: all 0.2s ease-in-out;
  }
  button:hover {
  box-shadow: 1px 1px #ffffff, 2px 2px #c3b13b, 3px 3px #f10404;
  transform: translateX(-3px);
  }
  /* Icon Button Styles */
.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #212529;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 1.5rem; /* Default size */
  border: none;
}

.icon-btn:hover {
  background-color: #343a40;
  transform: scale(1.1);
  color: #ffffff;
}

@media (min-width: 768px) {
  .icon-btn {
    width: 60px;
    height: 60px;
    font-size: 1.75rem;
  }
}
.clickable-image {
  transition: transform 0.2s ease;
}
.clickable-image:hover {
  transform: scale(1.02);
}